* {
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}



#topp {
  background: linear-gradient(#1eb53a, #00a3dd);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

#titlee {
  font-family: 'IM Fell English SC', serif;
  font-size: 100px;
  padding-left: 25px;
  text-shadow: 1px 1px #fcd116;
}

#subtitlee {
  font-family: 'Lora', serif;
  font-size: 20px;
  padding-left: 100px;
  text-shadow: 1px 1px #fcd116;
}

#locationn {
  width: 175px;
  transition: 0.5s;
  padding-right: 25px;
}

#locationn:hover {
  width: 500px;
  transition: 1s;
}



#menuu {
  background: #000000;
  border-top: solid 0.2em;
  border-top-color: #fcd116;
  border-bottom: solid 0.2em;
  border-bottom-color: #fcd116;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: 'Lora', serif;
  font-size: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#menuu a {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#menuu a:hover {
  color: #fcd116;
}

#menuu a.active {
  background: linear-gradient(#1eb53a, #00a3dd);
}



#fadee {
  animation: fadeInAnimation ease 1.5s;
}

@keyframes fadeInAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#backgroundd {
  width: 100%;
  height: 100%;
  position: absolute;
}

#profilee {
  position: relative;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 850px;
}

#textt {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 1.5;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#bottomm {
  position: relative;
  font-family: 'Lora', serif;
  font-size: 20px;
  text-shadow: 1px 1px #ffffff;
  padding-left: 100px;
  padding-top: 295px;
  padding-bottom: 5px;
}
